In [1]:
a=10
print(a)

10

In [2]:
print("hello")

hello

In [3]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2 feet height and 19KG weight.
print("The",name)

The Jayaram

In [4]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2 feet height and 19KG weight.
print("The",name,sep=",")

The,Jayaram

In [5]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [6]:
a=10
b=20
c=30
print(a,b,c, sep=";")

10;20;30

In [7]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2 feet height and 19KG weight.
print("The",name,"is")

The Jayaram is

In [8]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2 feet height and 19KG weight.
print("The",name,"is",age,"years old, he is")

The Jayaram is 5 years old, he is

In [9]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",height,"feet height and ",weight,"KG weight")

The Jayaram is 5 years old, he is 3.2 feet height and  19 KG weight

In [10]:
19+"kg"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
str(19)+"kg"

'19kg'

In [13]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(height)+"feet height and",str(weight)+"KG weight")

The Jayaram is 5 years old, he is 3.2feet height and 19KG weight

In [14]:
# template strings
name="jayaram"
s="The {name} is"
print(s)

The {name} is

In [15]:
# template strings
name="jayaram"
s=f"The {name} is"
print(s)

The jayaram is

In [16]:
# template strings
name="jayaram"
s=f"The {name123} is"
print(s)

NameError: name 'name123' is not defined

In [17]:
# template strings
name="jayaram"
s=f"sum: {10+20}"
print(s)

sum: 30

In [19]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"yearsa old, he is",str(height)+"feet height and",str(weight)+"KG weight")
print(f"The {name} is {age} years old, he is {height}feet height and {weight}KG weight")

The Jayaram is 5 years old, he is 3.2feet height and 19KG weight
The Jayaram is 5 years old, he is 3.2feet height and 19KG weight

In [ ]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"yearsa old, he is",str(height)+"feet height and",str(weight)+"KG weight")
print(f"The {name} is {age} years old, he is {height}feet height and {weight}KG weight")
# format specifiers.

In [20]:
name="Jayaram"
print("The %s is",name)

The %s is Jayaram

In [21]:
name="Jayaram"
print("The %s is"%name)

The Jayaram is

In [24]:
name="Jayaram"
age=5
height=3.2
weight=19
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(height)+"feet height and",str(weight)+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {height}feet height and {weight}KG weight")
# format specifiers.
print("The %s is %s years old, he is %sfeet height and %sKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.2feet height and 19KG weight
The Jayaram is 5 years old, he is 3.2feet height and 19KG weight
The Jayaram is 5 years old, he is 3.2feet height and 19KG weight

In [25]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(height)+"feet height and",str(weight)+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {height}feet height and {weight}KG weight")
# format specifiers.
print("The %s is %s years old, he is %sfeet height and %sKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.223456feet height and 19.87346KG weight
The Jayaram is 5 years old, he is 3.223456feet height and 19.87346KG weight
The Jayaram is 5 years old, he is 3.223456feet height and 19.87346KG weight

In [26]:
round(3.45789,2)

3.46

In [27]:
round(3.45789,3)

3.458

In [28]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(round(height,2))+"feet height and",str(round(weight,2))+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {height}feet height and {weight}KG weight")
# format specifiers.
print("The %s is %s years old, he is %sfeet height and %sKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.227456feet height and 19.87346KG weight
The Jayaram is 5 years old, he is 3.227456feet height and 19.87346KG weight

In [29]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(round(height,2))+"feet height and",str(round(weight,2))+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {round(height,2)}feet height and {round(weight,2)}KG weight")
# format specifiers.
print("The %s is %s years old, he is %sfeet height and %sKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.227456feet height and 19.87346KG weight

In [31]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(round(height,2))+"feet height and",str(round(weight,2))+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {round(height,2)}feet height and {round(weight,2)}KG weight")
# format specifiers.
print("The %s is %s years old, he is %sfeet height and %sKG weight" %(name,age, round(height,2), round(weight,2)))

The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight

In [32]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(round(height,2))+"feet height and",str(round(weight,2))+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {height:f}feet height and {weight:f}KG weight")
# format specifiers.
print("The %s is %s years old, he is %ffeet height and %fKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.227456feet height and 19.873460KG weight
The Jayaram is 5 years old, he is 3.227456feet height and 19.873460KG weight

In [33]:
name="Jayaram"
age=5
height=3.227456
weight=19.87346
# The jayaram is 5 years old, he is 3.2feet height and 19KG weight.
print("The",name,"is",age,"years old, he is",str(round(height,2))+"feet height and",str(round(weight,2))+"KG weight")
#template strings.
print(f"The {name} is {age} years old, he is {height:.2f}feet height and {weight:.2f}KG weight")
# format specifiers.
print("The %s is %s years old, he is %.2ffeet height and %.2fKG weight" %(name,age, height, weight))

The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight
The Jayaram is 5 years old, he is 3.23feet height and 19.87KG weight

In [34]:
print("%d"%10.23)

10

In [36]:
print("%d"%10.23)
print("%f"%12)
print("%s"%1234)
print("%x"%1234)
print("%o"%1234)

10
12.000000
1234
4d2
2322

In [37]:
hex(1234)

'0x4d2'

In [38]:
oct(1234)

'0o2322'

In [39]:
bin(1234)

'0b10011010010'

In [41]:
number = 12.34
print("The nuber is",int(number))

The nuber is 12

In [42]:
number = 12.34
print("The nuber is %d" % number)

The nuber is 12

In [44]:
number = 12.34
print(f"The nuber is {number:d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [45]:
number = 12.34
print(f"The nuber is {int(number)}")

The nuber is 12

In [46]:
print("It's raining in "hyderabad"")

SyntaxError: invalid syntax (<ipython-input-46-4e7ac387049c>, line 1)

In [47]:
print("hello""hi")

hellohi

In [48]:
print("hello\"\"hi")

hello""hi

In [49]:
print("It's raining in \"hyderabad\"")

It's raining in "hyderabad"

In [50]:
print("hello")
print("hi")

hello
hi

In [51]:
print("hello", end=",")
print("hi")

hello,hi

In [52]:
print?

In [53]:
print("hello, hi")

hello, hi

In [54]:
print("hello\nhi")

hello
hi

In [55]:
print("hello\\nhi")

hello\nhi

In [56]:
print("dsfsdf\nsdfsdfs\tsdfsdf\nsdfsdf\nsdfdsf\tsfsdfsd")

dsfsdf
sdfsdfs	sdfsdf
sdfsdf
sdfdsf	sfsdfsd

In [58]:
print("dsfsdf\\nsdfsdfs\\tsdfsdf\\n\sdfsdf\\nsdfdsf\\tsfsdfsd")

dsfsdf\nsdfsdfs\tsdfsdf\n\sdfsdf\nsdfdsf\tsfsdfsd

In [59]:
print(r"dsfsdf\nsdfsdfs\tsdfsdf\nsdfsdf\nsdfdsf\tsfsdfsd")

dsfsdf\nsdfsdfs\tsdfsdf\nsdfsdf\nsdfdsf\tsfsdfsd

In [60]:
print("dsfsdf\nsdfsdfs\tsdfsdf\nsdfsdf\nsdfdsf\tsfsdfsd")

dsfsdf
sdfsdfs	sdfsdf
sdfsdf
sdfdsf	sfsdfsd