In [1]:
a=10
b=20
print(a+b)

30

In [2]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a, type(a))
print(b, type(b))

Enter a value:10
Enter b value:20
10 <class 'str'>
20 <class 'str'>

In [3]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a, type(a))
print(b, type(b))

Enter a value:[1,2,3]
Enter b value:(1,2,3)
[1,2,3] <class 'str'>
(1,2,3) <class 'str'>

In [4]:
l=[1,2,3]
print(l, type(l))

[1, 2, 3] <class 'list'>

In [6]:
l="[1,2,3]"
print(l, type(l))

[1,2,3] <class 'str'>

In [7]:
t=(1,2,3)
print(t, type(t))

(1, 2, 3) <class 'tuple'>

In [9]:
t="(1,2,3)"
print(t, type(t))

(1,2,3) <class 'str'>

In [10]:
a=123
b=str(a)
print(a, type(a))
print(b, type(b))

123 <class 'int'>
123 <class 'str'>

In [11]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a, type(a))
print(b, type(b))

Enter a value:12.34
Enter b value:34.56
12.34 <class 'str'>
34.56 <class 'str'>

In [12]:
a=input("Enter a value:")
b=input("Enter b value:")
a1=int(a)
b1=int(b)
print(a, type(a))
print(b, type(b))
print(a1, type(a1))
print(b1, type(b1))

Enter a value:12
Enter b value:34
12 <class 'str'>
34 <class 'str'>
12 <class 'int'>
34 <class 'int'>

In [13]:
a=input("Enter a value:")
b=input("Enter b value:")
a1=int(a)
b1=int(b)
print(a, type(a))
print(b, type(b))
print(a1, type(a1))
print(b1, type(b1))

Enter a value:12.34
Enter b value:56

ValueError: invalid literal for int() with base 10: '12.34'

In [14]:
a=input("Enter a value:")
b=input("Enter b value:")
a1=float(a)
b1=float(b)
print(a, type(a))
print(b, type(b))
print(a1, type(a1))
print(b1, type(b1))

Enter a value:12
Enter b value:34
12 <class 'str'>
34 <class 'str'>
12.0 <class 'float'>
34.0 <class 'float'>

In [15]:
a=input("Enter a value:")
b=input("Enter b value:")
a1=float(a)
b1=float(b)
print(a, type(a))
print(b, type(b))
print(a1, type(a1))
print(b1, type(b1))

Enter a value:12.34
Enter b value:56.78
12.34 <class 'str'>
56.78 <class 'str'>
12.34 <class 'float'>
56.78 <class 'float'>

In [16]:
a=input("Enter a value:")
b=input("Enter b value:")
a1=float(a)
b1=float(b)
print(a, type(a))
print(b, type(b))
print(a1, type(a1))
print(b1, type(b1))
print(a1+b1)

Enter a value:12
Enter b value:34
12 <class 'str'>
34 <class 'str'>
12.0 <class 'float'>
34.0 <class 'float'>
46.0

In [17]:
total_people = input("Enter total number of people:")
seats_per_bus = input("Enter seats per bus:")
print(total_people/seats_per_bus)

Enter total number of people:200
Enter seats per bus:50

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [18]:
total_people = input("Enter total number of people:")
seats_per_bus = input("Enter seats per bus:")
total_people = float(total_people)
seats_per_bus = float(seats_per_bus)
print(total_people/seats_per_bus)

Enter total number of people:200
Enter seats per bus:50
4.0

In [19]:
total_people = input("Enter total number of people:")
seats_per_bus = input("Enter seats per bus:")
total_people = float(total_people)
seats_per_bus = float(seats_per_bus)
print(total_people//seats_per_bus)

Enter total number of people:200
Enter seats per bus:50
4.0

In [20]:
total_people = input("Enter total number of people:")
seats_per_bus = input("Enter seats per bus:")
total_people = float(total_people)
seats_per_bus = float(seats_per_bus)
print(total_people//seats_per_bus)

Enter total number of people:23.45
Enter seats per bus:45.67
0.0